:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
    box-sizing: margin-box;
    margin: 0;
    font-family: "Fira sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--dark);
    height: 100vh;
}

header {
    padding: 30px 30px;
}

header h1 {
    color: var(--grey);
    margin: 0 0 20px 0;
    font-weight: 300;
}

#new-task-form {
}
input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input {
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 15px;
    margin-right: 1rem;
    font-size: 1.25rem;
}